@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Image Example</title>
    <style>
        body {
            background-image: url('b1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


        h1 {
            color: Black;
            margin-left:1px;
            margin-top: 50px;

        }

        h2 {
            color: white;
            margin-left: 1px;
            margin-top: 20px;
        }

        .button-container {
            margin-left: 1px;
            margin-top: 20px;
        }

       

           
    </style>
</head>
<body>
    <h1>Welcome to Petty store</h1>
    <h2>Our Services</h2>
   





</body>

</html>


